# Ignore node_modules everywhere (frontend + backend)
node_modules/

# Ignore environment files everywhere
.env
.env.*

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
